<form class="form-signin" name='register_form' id='register_form' method='post' action='{{path('register')}}'>
    Username: <input type="text" name="username" placeholder="Username"><br>
    Password: <input type="password" name="password" placeholder="Password"><br>
    Confirm:  <input type="password" name="confirm" placeholder="Reenter Password"><br>

    Select role: <input type="email" name="email" placeholder="email"><br>
    {% if is_granted('ROLE_ADMIN') == true%}
        <select name="roles">
            #TODO: loop through all roles
            {% for aRole in roles %} 
                <option value ="{{aRole.role}}">{{aRole.role}}</option>
            {% endfor %}
        </Select>
    {%endif %}


    <button class="btn btn-lg btn-primary btn-block" type="submit" >Register</button>
</form>