<form class="form-signin" name='new_group' id='register_form' method='post' action='{{path('add_group')}}'>
    Group Name: <input type="text" name="groupname" placeholder="Grop Name"><br>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Add</button>
</form>